#board{
	table-layout: fixed;
	border-collapse:collapse;
	text-align: center;
}

#board td{
	padding:0px;
	margin:0px;
	height:80px;
	width:80px;
}

#board tbody td{
	border:1px solid black;
}

#board tbody td:nth-child(1), #board td:nth-child(10){
	border:0px none; 
}


.sel-tile{
	background-color: #CCC;
}
.pos-move{
	background-color: #0F0;
}

.checked{
	background-color: #F00; 
}



.piece {
	/* src: http://atskaheart.deviantart.com/ */
	/* 425 X 125 */
	background: url('../images/chess_pieces_by_atskaheart.png') no-repeat; 
	width:80px;
	height:80px;
	display: block;
}

.piece.pWhite {
	background-position: -8px -20px; 
}

.piece.rWhite {
	background-position: -70px -15px; 
}

.piece.nWhite {
	background-position: -140px -15px; 
}

.piece.bWhite {
	background-position: -205px -15px; 
}

.piece.qWhite {
	background-position: -270px -15px; 
}

.piece.kWhite {
	background-position: -335px -15px; 
}


.piece.rBlack, .piece.nBlack, .piece.bBlack, .piece.kBlack, .piece.qBlack{
	background-position-y: -100px;
}

.piece.pBlack {
	background-position: -8px -105px; 
}

.piece.rBlack {
	background-position-x: -70px ; 
}

.piece.nBlack {
	background-position-x: -140px; 
}

.piece.bBlack {
	background-position-x: -205px; 
}

.piece.qBlack {
	background-position-x: -270px; 
}

.piece.kBlack {
	background-position-x: -335px; 
}

/*iPhone / phone| src: http://stackoverflow.com/a/6370835*/




@media only screen and (min-width: 480px){

	#board td, .piece{
		height:48px;
		width:48px;
	}
	.piece{
		background-size : 60% 60%;
	}
}

/*tablet*/
@media only screen and (min-width: 768px){

	#board td, .piece{
		height:60px;
		width:60px;
	}
	.piece{
		background-size : 400px 165px;
	}
}

/* hi-res laptops and desktops */
@media only screen and (min-width:1000px) {  
	#board td, .piece{
		height:80px;
		width:80px;
	}
	.piece{
		background-size : 425px 195px;
	}
}
